<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Geetha Kamath Koteshwar</title>
</head>
<body class="bg">
    <div class="back">
        <a href="homepage.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
    <img class="a1" src="../static/IMG-20200308-WA0003.jpg"/>
    <h6>Get to know me</h6>
    <h1>About me</h1>
    <div class="c1">
        <h2>Who am I?</h2>
        <h3>I'm Geetha</h3>
        <p>I am a graduate student pursuing MS in Computer Science at the University of Florida.I am currently based out of Gainesville, Florida</p>
        <p>I graduated with a Bachelor of Engineering in Computer Science and Engineering from <a href="https://www.nmit.ac.in/">Nitte Meenakshi Institute of Technology</a> in 2018, prior to which I did schooling in Bangalore (Go <a href="https://www.royalchallengers.com/">RCB!</a>) </p>
        <p>I enjoy swimming (a lot!), badminton and Scrabble. I also like to think of myself as an amateur sketch artist</p>
    </div>
</body>
</html>
