<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/resume.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Geetha Kamath Koteshwar</title>
    </head>
    <body class="bg">
        <div class="back">
            <a href="homepage.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
        <h6>Check out my Resume</h6>
        <h1>Resume</h1>
        <div class="c2">
            <h2>Education </h2>
            <div class="c3">
                <img src="../static/UF.png"/>
                <h3>University of Florida</h3>
                <p>I'm currently pursuing a <a href="https://www.cise.ufl.edu/academics/graduate/masters-program/">MS in Computer Science</a> at the University of Florida .
                    I have studied courses such as Analysis of Algorithms, Advanced Data Structures, Machine Learning and Distributed Operating Systems.
                    While, I studied here, I had the opportunity of being taught by <a href="https://en.wikipedia.org/wiki/Sartaj_Sahni">Dr. Sartaj Sahni</a> </p>
            </div>

            <div class="c3">
                    <img src="../static/NMIT.png"/>
                    <h3>Nitte Meenakshi Institute of Technology</h3>
                <p>I studied <a href="https://www.nmit.ac.in/department/computer-science-be.html">Bachelor of Engineering in Computer Science and Engineering</a> at Nitte Meenakshi Institue of Technology
                    I studied Software Engineering, Database Management Systems, Operating Systems, Big Data Analytics, Data Mining and Data Warehousing and robotics here </p>
            </div>

            <div class="c3">
                <img src="../static/mcc.png"/>
                <h3>Mount Carmel College</h3>
                <p>I went to high school here, in Bangalore. I studied Physics, Chemistry, Mathematics and Biology. </p>
            </div>
        </div>
        <div class="c2">
            <h2>Experience</h2>
            <div class="c4">
                <img src="../static/LTTS.jpg"/>
                <h3>L&T Technology Services</h3>
                <p>I worked as an Intern at <a href="https://www.ltts.com/">L&T Technology Services </a>, Bengaluru where I was involved in the seamless integration of smart city components like Smart Traffic, GIS Maps into one framework.
                   I was also involved in testing the GIS Maps functionality and its compatibility with traffic systems using GIS Maps application on an Android device
                    and deployed rectifications in application based on tests and enabled it to display traffic conditions in real-time along with names of places in local dialect.
                </p>
            </div>

            <div class="c4">
                <img src="../static/NMIT.png"/>
                <h3>Nitte Meenakshi Institute of Technology</h3>
                <p>I worked as a Undergraduate Researcher at the  <a href="https://www.nmit.ac.in/research/robotics-overview.html">Centre for Robotics Research</a> at Nitte Meenakshi Institue of Technology
                I worked on developing obstacle detection algorithms using Python for robots which gave real-time feedback changing the trajectory of the robot.
                In addition to this, I also worked on object detection algorithms for resource constrained environments.</p>
            </div>
            
        </div>


        <div class="c2">
            <h2>Skills</h2>
            <div class="c5-left">
                Python
                <div class="progress">
                    <div class="progress-bar-python">80%</div>
                </div>
            </div>
            <div class="c5-right">
                Java
                <div class="progress">
                    <div class="progress-bar-java" role="progressbar">80%</div>
                </div>
            </div>
            <div class="c5-left">
                SQL
                <div class="progress">
                    <div class="progress-bar-sql" role="progressbar">70%</div>
                </div>
            </div>
            <div class="c5-right">
                C++
                <div class="progress">
                    <div class="progress-bar-c" role="progressbar">70%</div>
                </div>
            </div>
            <div class="c5-left">
                HTML
                <div class="progress">
                    <div class="progress-bar-html" role="progressbar">60%</div>
                </div>
            </div>
            <div class="c5-right">
                CSS
                <div class="progress">
                    <div class="progress-bar-css" role="progressbar">60%</div>
                </div>
            </div>
        </div>
    </body>
</html>